.clientInfo{
    --background: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
}

.clientProject{
    --background: linear-gradient(to right, #74ebd5, #acb6e5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.clientInfo ion-card-title{
    --color: white;

}

ion-list {
    background: transparent;
}

ion-item{
    margin: 5px;
    border-radius: 10px;
}


.colorInput{
    /* border-radius: 86px/82px; */
    background: transparent;
    border: none;
    /* padding: 16px; */
    height: 40px;
}